body {
  margin: 0 auto;
  padding: 0;
}

/* Header CSS */
header {
  background: #F37423;
  margin: 0 auto;
  width: 100%;
}

header h1 {
  margin: 0 auto;
}

@media screen and (max-width: 999px) {
header img {
  width: 35%;
  height: auto;
  padding: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
}

@media screen and (min-width: 1000px) {
header img {
  width: 15%;
  height: auto;
  padding: 1em;
  padding-bottom: 0em;
  margin-bottom: -3em;
}
}

/* Navigation */

nav ul {
  list-style: none;
	padding: 0;
	margin: 0;
}
nav li {
	text-align: center;
	color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 2.5em;
}

header li a {
  text-decoration: none;
  color: black;
}


@media screen and (max-width: 999px) {
nav {
  background: white;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

nav ul {
  margin-top: 0;
  padding-top: 0;
}

li a {
  display: block;
  margin-top: 0;
  padding-top: 0;
}

li a.active {
    margin-top: 0;
    padding-top: 0;
    background-color: #F37423;
    color: white;
    padding-top: 0.08em;
    padding-bottom: 0.08em;
    width: 100%;
}

li a.active2 {
    background-color: #F37423;
    color: white;
    padding-top: 0.08em;
    padding-bottom: 0.08em;
    width: 100%;
}

li a.active3 {
    background-color: #F37423;
    color: white;
    padding-top: 0.08em;
    padding-bottom: 0.08em;
}

}

@media screen and (min-width: 1000px) {

  nav {
    margin-left: 36em;
    max-width: 60%;
  }

	nav ul {
		display: flex;
    justify-content: space-evenly;
	}

li .used{
  padding-left: 1em;
  padding-right: 1em;
  background-color: #F37423;
  color: white;
  border-top-left-radius: .6em;
  border-top-right-radius: .6em;
}

  li a.active {
      background-color: white;
      color: black;
      padding-top: 0.08em;
      padding-left: 1em;
      padding-right: 1em;
      border-top-left-radius: .6em;
      border-top-right-radius: .6em;
  }

  }
}

/* Main Content Area */

main img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  justify-content: center;
  margin: 2em;
}

main {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

.frank {
  width: 89%;
}

.form {
  text-align: center;
}

.info {
  width: 85%;
  margin-left: 5em;
  justify-content: center;
}

h1 {
  font-family: 'Rubik', sans-serif;
  color: #A02878;
}

h2 {
  color: #A02878;
  font-family: 'Quicksand', sans-serif;
}

h3 {
  font-family: 'Quicksand', sans-serif;
}

h4 {
  padding: 0;
  margin: 0;
  color: black;
  font-family: 'Quicksand', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #585858;
  line-height: 1.8em;
}

main a {
  font-family: 'Quicksand', sans-serif;
  color: #EFEB1A;
  text-decoration: none;
  background: #A02878;
  padding: .7em;
  border-radius: 1.5em;
}

.button {
  font-family: 'Quicksand', sans-serif;
  color: #EFEB1A;
  text-decoration: none;
  background: #A02878;
  padding: .7em;
  border-radius: 1.5em;
  border: 0;
  font-size: 1em;
}

/* Menu toggle */

/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  overflow: hidden;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  border-top: 2px solid black;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}
.blue label {
  background: #D75B0C;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: white;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
  text-align: center;
}
.blue .tab-content {
  background: white;
}
.tab-content p {
  margin: 1em;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.tab input[type=checkbox] + label::after {
  content: "+";
}
.tab input[type=radio] + label::after {
  content: "\25BC";
}
.tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
.tab input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}
.tab h3 {
  margin-bottom: 1.4em;
}


/* Footer CSS */
footer {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

footer h3 {
  text-align: right;
  margin-right: 0.7em;
  padding-top: 1em;
  color: black;
}
