body {
  margin: 0 auto;
  padding: 0;
  position: relative;
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

/* Header CSS */
header {
  background: #F37423;
  margin: 0 auto;
  width: 100%;
  height: 145px;
  position: relative;
}

header h1 {
  margin: 0 auto;
}

@media screen and (max-width: 999px) {
header img {
  width: 35%;
  height: auto;
  max-height: 130px;
  padding: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}
}

@media screen and (min-width: 1000px) {
header img {
  width: 15%;
  height: auto;
  padding: 1em;
  padding-bottom: 0em;
  margin-bottom: -3em;
}
}

/* Navigation */

nav ul {
  list-style: none;
	padding: 0;
	margin: 0;
}
nav li {
	text-align: center;
	color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 2.5em;
}

header li a {
  text-decoration: none;
  color: black;
}


@media screen and (max-width: 999px) {
nav {
  background: white;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  position: block;
}

nav ul {
  margin-top: 0;
  padding-top: 0;
}

li a {
  display: block;
  margin-top: 0;
  padding-top: 0;
}

li a.active {
    margin-top: 0;
    padding-top: 0;
    background-color: #F37423;
    color: white;
    padding-top: 0.08em;
    padding-bottom: 0.08em;
    width: 100%;
}

header {
  height: auto;
}
}

@media screen and (min-width: 1000px) {

  nav {
    max-width: 60%;
    position: absolute;
    right: 30px;
    bottom: 0;
  }

	nav ul {
		display: flex;
    justify-content: space-evenly;
	}

li .used{
  padding-left: 1em;
  padding-right: 1em;
  color: white;
}

  li a.active {
      background-color: white;
      color: black;
      padding-top: 0.08em;
      padding-left: 1em;
      padding-right: 1em;
      border-top-left-radius: .6em;
      border-top-right-radius: .6em;
  }

  }
}

/* Main Content Area */

main img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  justify-content: center;
  margin: 2em;
}

.menu {
width: 100%;
max-width: 100%;
height: auto;
display: block;
justify-content: center;
margin: 0;
}

main {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 100%;
  padding-bottom: 6rem;
}

.frank {
  width: 89%;
}

.form {
  text-align: center;
}

h1 {
  font-family: 'Rubik', sans-serif;
  color: #A02878;
  text-transform: uppercase;
}

h2 {
  color: #A02878;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
}

h3 {
  font-family: 'Quicksand', sans-serif;
}

h4 {
  padding: 0;
  margin: 0;
  color: black;
  font-family: 'Quicksand', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #585858;
  line-height: 1.8em;
}

main a {
  cursor:pointer;
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-shadow: #000 0px 0px 1px;
  text-decoration: none;
  background: #A02878;
  padding: 1em;
  border-radius: 1.5em;
}

.button {
  font-family: 'Quicksand', sans-serif;
  color: #EFEB1A;
  text-decoration: none;
  background: #A02878;
  padding: .7em;
  border-radius: 1.5em;
  border: 0;
  font-size: 1em;
}

.banner {
  width: 100%;
}

/* Home Page */
.banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.magic {
  max-width: 100%;
  text-align: center;
}

.info {
  width: 65%;
  display: inline-block;
}

.info h2, .info p {
  text-align: left;
}

.info a {
  text-align: right;
}

.viewbutton {
  text-align: right;
}

/* Menu toggle */

/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: black;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  overflow: hidden;
}
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  border-top: 2px solid black;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}
.blue label {
  background: #D75B0C;
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  background: white;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
  text-align: center;
}
.blue .tab-content {
  background: white;
}
.tab-content p {
  margin: 1em;
}
/* :checked */
.tab input:checked ~ .tab-content {
  max-height: 100vh;
}
/* Icon */
.tab label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.tab input[type=checkbox] + label::after {
  content: "+";
}
.tab input[type=radio] + label::after {
  content: "\25BC";
}
.tab input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
.tab input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}
.tab h3 {
  margin-bottom: 1.4em;
}


/* Franchising Infographic */
.graph {
  text-align: center;
  padding: 1em;
  background: #A02878;
  color: white !important;
  width: 20em;
  border-radius: 2.5em;
  display: inline-block;
  max-width:400px;
}

.graph h2 {
  color: white;
  padding: 0;
  margin: 0;
}

.graph2 h3 {
  color: white;
}

.graph2 {
  color: white;
}

.lastblast {
  text-align: center;
}

@media screen and (max-width: 999px) {
  .container {
    margin:0 auto;
  	position:relative;
  }

  .viewbutton {
    text-align: center;
  }
}

@media screen and (min-width: 1000px) {
.infoflex {
  display: flex;
  justify-content: space-evenly;
}

.graph {
  margin-top: 10em;
}
}

/* Contact Form */


* {
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}


.container {
	max-width:400px;
	width:100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }


#contact h3 {
	color: #A02878;
	display: block;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
	font-size: 30px;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="address"], #contact input[type="city"], #contact input[type="state"], #contact input[type="zip"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="address"]:hover, #contact input[type="city"]:hover, #contact input[type="state"]:hover, #contact input[type="zip"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	border:none;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
  width: 100%;
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-shadow: #000 0px 0px 1px;
  text-decoration: none;
  background: #A02878;
  padding: .7em;
  border-radius: 1.5em;
}

#contact button[type="submit"]:hover {
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
 font-family: 'Montserrat', sans-serif;
}
:-moz-placeholder {
 color:#888;
 font-family: 'Montserrat', sans-serif;
}
::-moz-placeholder {
 color:#888;
 font-family: 'Montserrat', sans-serif;
}
:-ms-input-placeholder {
 color:#888;
 font-family: 'Montserrat', sans-serif;
}

/* Footer CSS */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #F37423;
  height: 6rem;
}

.foot {
  text-align: right;
  margin-right: 0.7em;
  padding-top: 1em;
  color: white;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
